@import "tailwindcss";

@theme inline {
    --font-anton: var(--font-anton);
    --font-daruma1: var(--font-daruma1);
    --font-raleway: var(--font-raleway);
}

@theme {
    --font-weight-superbold: 1000;

    --animate-gradatecolor: gradate-color 3s ease-in-out infinite;
    @keyframes gradate-color {
        0%,
        100% {
            color: #22d3ee; 
        }
        20%,
        80% {
            color: #14b8a6; /* teal-500 */
        }
        60% {
            color: #10b981; /* emerald-500 */
        }
    }   
}

@theme {
    --animate-shake-icon: shake-icon 1.2s ease-in-out;
    @keyframes shake-icon {
        0%,
        100% {
            rotate: 0deg;
        }
        16% {
            rotate: 13deg;
        }
        32% {
            rotate: -13deg;
        }
        48% {
            rotate: 10deg;
        }
        64% {
            rotate: -10deg;
        }
        76% {
            rotate: 8deg;
        }
        85 % {
            rotate: -8deg;
        }
    }
}

html {
  scroll-behavior: smooth;
}

