@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@theme {
    --font-weight-superbold: 1000;

    --font-bigtitle: "Oswald", "sans-serif";

    --animate-gradatecolor: gradate-color 3s ease-in-out infinite;

    @keyframes gradate-color {
  0% {
    color: #22d3ee; 
  }
  20% {
    color: #14b8a6; /* teal-500 */
  }
  60% {
    color: #10b981; /* emerald-500 */
  }
  80% {
    color: #14b8a6; /* teal-500 */
  }
  100% {
    color: #22d3ee;
  }
}

}