@import "tailwindcss";

@theme inline {
    --font-anton: var(--font-anton);
    --font-daruma1: var(--font-daruma1);
    --font-raleway: var(--font-raleway);
}

@theme {
    --font-weight-superbold: 1000;

    --animate-gradatecolor: gradate-color 3s ease-in-out infinite;
    @keyframes gradate-color {
        0%,
        100% {
            color: #22d3ee; 
        }
        20%,
        80% {
            color: #14b8a6; /* teal-500 */
        }
        60% {
            color: #10b981; /* emerald-500 */
        }
    }   
}


